.card {
    transition: all 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

/* Projects.css */
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    background-color: #fff;
    border-radius: 10px;
  } 
  
  /* .center {
    text-align: center;
  } */