.content{
    width: 100%;
    text-align: center;
    background-color: var(--clr-bg);

    display: flex;
    flex-wrap: wrap;
}
.card{
  margin: 0 auto; /* Added */
float: none; /* Added */
margin-bottom: 10px; /* Added */
}

.content > div {
  width: 15%;
    height: 16vh;
    max-height: 140px;
    box-shadow: var(--shadow);
    z-index: 1;
    border-radius: 20px;
    margin: 2.5%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease 0s;
    border: 2px solid var(--clr-primary); 
}

.content > div :hover {
    background-color: var(--clr-bg);
    overflow: hidden;
    transform: scale(1.08);
    box-shadow: rgba(193,204,240, 0.8) 0px 10px 36px 0px,
    rgba(193,204,240, 0.8) 0px 0px 0px 1px;
    border: 1px solid var(--clr-primary);
}

.content > div > svg {
    font-size: 8vh;
    color: var(--clr-primary);
}
.content >div >h5 {
    position: relative;
  top: 8px;
  background-color: transparent;
}




@media (max-width: 600px) {
    .content {
      height: 120vh;
    }
    .content > div {
      width: 40%;
      margin-right: 5%;
      margin-bottom: 2%;
      height: 18vh;
    }
  }